body{
	font-family: monospace;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.carousel-item:after {
  content:"";
  display:block;
 
  background:rgba(0,0,0,0.7);
}

.carousel-item img {
	height: 800px;
}
.common-layout{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

